.SidebarIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.SidebarIcon img {
    width: 70x; /* 画像の幅を50pxに設定 */
    height: 70px; /* 画像の高さを50pxに設定 */
    object-fit: contain; /* アスペクト比を保つ */
    margin-left: 55px; 
    margin-bottom: 40px;
}

.SidebarIcon a {
    display: inline-block; /* リンクがインラインブロック要素として振る舞うよう設定 */
    transition: opacity 0.3s ease; /* 透明度の変化にアニメーションを適用 */
  }
  
  .SidebarIcon a:hover {
    opacity: 0.7; /* ホバー時の透明度を下げる */
  }