.tweet-container {
    margin-left: 260px;
    flex: 1;
}

.tweet-paper {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
}

.tweet-content {
    width: 100%;
}

.tweet-nickname {
    font-weight: 500;
}

.tweet-text {
    margin-top: 8px;
}

.tweet-actions {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.tweet-actions > * {
    margin-right: 16px;
}

.tweet-actions a {
    color: #1DA1F2;
    text-decoration: none;
}

.tweet-actions a:hover {
    text-decoration: underline;
}


.reply-section {
    display: flex;
    align-items: center;
    margin-left: 16px;
}


